$main-1000: #333399;
$main-500: #00cc99;
$bg-color: #F5F9FF;
$bright-1000: #fff;
$bright-500: #F5F9FF;

%bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
